.cover-search-image {
  max-width: 80px;
  max-height: 80px;
  margin: 3px;
}

.cover-search-images-container {
  min-height: 300px;
  overflow: auto;
  border: 1px solid lightgray;
}

.cover-search-image-container {
  margin: 2px;
  width: 85px;
  height: 85px;
  float: left;
}

.cover-search-image-container.selected {
  background-color: red;
  color: red;
}
