<h1>@_message</h1>

@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; }
    [Inject] private IAuthService AuthService { get; set; } = null!;
    [Inject] private NavigationManager NavigationManager { get; set; } = null!;
    string? _returnUrl;
    string _message = string.Empty;

    protected override void OnInitialized()
    {
        _returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        if (!string.IsNullOrEmpty(HttpContext?.Request.Headers.Authorization))
        {
            return;
        }

        if (AuthService.IsLoggedIn)
        {
            _message = "Sorry, you are not authorized to view this page.";
        }
        else
        {
            NavigationManager.NavigateTo($"/account/login?returnUrl={_returnUrl}", true);
        }
    }

}
