:root {
  --headerHeight: 100px;
  --footerHeight: 100px;
  --totalHeight: calc( var(--headerHeight) + var(--footerHeight) );
}

#main {
  height: calc(100vh - var(--totalHeight) );
}

.nerd-text {
  font-family: 'Hack Nerd Font Mono', serif;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.release-card {
  float: left;
  display: block;
  width: 160px;
  height: 200px;
  border: 2px solid white;
}

.release-card img {
  margin: 5px;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.release-current {
  border: 2px solid transparent !important;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) !important;
  border-image-slice: 1 !important;
}

.release-selected {
  background-color: #f2f2f2;
}

.release-invalid, .track-invalid {
  background-color: #f44336 !important;
  color: white !important;
}

.track-invalid {
  padding: 3px;
}

.release-status-incomplete, .release-status-needsattention, .status-missing {
  border: 2px solid yellow;
}
.release-status-error {
  border: 2px solid red;
}
.release-status-needsattention {
  border: 2px solid orange;
}
.release-status-duplicate {
   border: 3px solid orange;
}
.release-status-invalid img, .media-invalid img, .track-invalid img {
  border: 2px solid tomato;
}

.truncate-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-status-needsattention {
  background-color: yellow !important;
  color: black !important;
}



.dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
