<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/" />
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Melodee.Blazor.styles.css"/>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <title>Melodee</title>
    <RadzenTheme Theme="software" @rendermode="InteractiveServer" />
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
    <Routes @rendermode="InteractiveServer"/>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>
