@using Melodee.Common.Models.Configuration
@inherits LayoutComponentBase

@inject Configuration Configuration

<CascadingValue Value="this">

    <main>
        <nav class="navbar navbar-expand-lg navbar-light border mb-2">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                File
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">New</a></li>
                                <li><a class="dropdown-item" href="#">Open</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Exit</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Edit
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Undo</a></li>
                                <li><a class="dropdown-item" href="#">Cut</a></li>
                                <li><a class="dropdown-item" href="#">Copy</a></li>
                                <li><a class="dropdown-item" href="#">Paste</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                View
                            </a>
                            <ul class="dropdown-menu">
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.All))"><a class="dropdown-item" href="#">All</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.Duplicates))"><a class="dropdown-item" href="#">Duplicates</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.Incomplete))"><a class="dropdown-item" href="#">Incomplete</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.LessThanConfiguredTracks))"><a class="dropdown-item" href="#">Less than @Configuration.FilterLessThanTrackCount Tracks</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.NeedsAttention))"><a class="dropdown-item" href="#">Needs Attention</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.ReadyToMove))"><a class="dropdown-item" href="#">Ready to Move</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.Selected))"><a class="dropdown-item" href="#">Selected</a></li>
                                <li @onclick="((e) => FilterReleases(ReleaseResultFilter.LessThanConfiguredDuration))"><a class="dropdown-item" href="#">Under @Configuration.FilterLessThanConfiguredTime.TotalMinutes Minutes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tools
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Tool Something</a></li>
                                <li><a class="dropdown-item" href="#">Another Tool</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Seperated tool here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Help
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">About</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input
                            @onkeyup="KeyUpCallback"
                            @bind:event="oninput"
                            @bind="SearchText"
                            class="form-control me-2"
                            type="text"
                            placeholder="Search"
                            aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>

        <div class="content px-4">
            @Body
        </div>

    </main>

</CascadingValue>
@code {

    public string? SearchText { get; set; }

    public ReleaseResultFilter? Filter { get; set; }

    public event EventHandler? SearchChanged;

    private void KeyUpCallback(KeyboardEventArgs obj)
    {
        SearchChanged?.Invoke(this, obj);
    }

    private void FilterReleases(ReleaseResultFilter i)
    {
        Filter = i;
        SearchChanged?.Invoke(this, EventArgs.Empty);
    }

}
